.navbar {
  width: 200px;
  height: 100vh;
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 100px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 10px 0;
}

.nav-links a:hover {
  background: white;
  color: black;
}

.logout-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background: rgb(238, 225, 50);
}

.camisas-container, .pantalones-container {
  text-align: center;
  padding: 20px;
  margin-left: 80px;
  margin-top: 20px;
}

@media screen and (max-width: 772px) {
  .navbar {
    width: 120px;
  }

  .titulo {
    font-size: 20px;
    padding-bottom: 50px;
  }

  .nav-links a {
    font-size: 14px;
    padding: 6px 0;
  }

  .logout-button {
    padding: 8px;
    font-size: 14px;
  }

  .camisas-container,
  .pantalones-container {
    margin-left: 140px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    width: 100px;
  }

  .titulo {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .nav-links a {
    font-size: 12px;
    padding: 4px 0;
  }

  .logout-button {
    font-size: 12px;
    padding: 6px;
  }

  .camisas-container,
  .pantalones-container {
    margin-left: 120px;
  }
}


